*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
body{
    background-color: black;
    border: 1px solid black;
}

#container{
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
}

a{
    display:block;
    font-size:40px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 20px;
    padding-left: 7px;  padding-right: 7px;
    background-color: white;
    width: auto;
}
a:visited{
    background-color: #551A8B;
}
a:hover{
    background-color: yellow;
}



@media screen and (max-width: 1100px){
    #container{
        margin: 40px;
    }
    a{
        font-size: 36px;
        margin: 13px;
    }
}
@media screen and (max-width: 600px){
    #container{
        margin: 0px;
    }
    a{
        font-size: 32px;
        margin: 6px;
    }
}