*{
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    background-color: black;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#tabla{
    height: 100%;
    max-width: 100vw;
    max-height: 100vw;
    aspect-ratio: 1/1;
    background-color: black;
    display: grid;
    font-size: 400px;  /* ez fog átállítódni a négyzetek számától függően */

}
.negyzet{
    width: 100%;
    aspect-ratio: 1/1;
    border: white solid 1px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: white;
    font-weight: bold;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
